*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fc;
    color:#333;
    line-height:1.6;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:60px 20px;
}

#home{
    text-align:center;
    background:white;
    padding:100px 20px;
}

h1,h2,h3{
    margin-bottom:15px;
}

ul li{
    margin:10px 0;
}

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
}
